<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="First testNG test Suits" parallel="false" thread-count="1">
    <test name="OnlineShopTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="OnlineShopTest"/>
        </classes>
    </test>

    <test name="PhpTravelsTest" parallel="false" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="PhpTravelsTest"/>
        </classes>
    </test>
</suite>
